<title>KOYOTO STUDIO</title>
<meta name="description" content="" />
<section id="pricepage">
	<div class="row margin0">
		<div class="price-left col-md-6 col-xs-12">
			<div class="price-desc">
				<div class="price-desc_inner">
					<h2>Создание сайтов</h2>
					<p>Мы создаем красивые, функциональные, уникальные сайты, которые нравятся, как нашим клиентам, так и посетителям. Выполненные нами сайты проходят проверку по более, чем 50 параметрам, что гарантирует качество и удобство. </p>
					<h3>Выберите тип сайта:</h3>
					<md-input-container flex="100">
			      <md-select name="type" ng-model="project">
			        <md-option value="vizitka">Cайт-визитка</md-option>
			        <md-option value="landing">Landing Page</md-option>
			        <md-option value="promo">Промо-сайт</md-option>
			        <md-option value="corp">Корпоративный сайт</md-option>
			        <md-option value="store">Интернет-магазин</md-option>
			      </md-select>
			    </md-input-container>
			    <div>
			    	<span ng-if="project === 'vizitka'">от <span class="price-number" >3 000</span> грн.</span>
						<span ng-if="project === 'landing'">от <span class="price-number" >3 500</span> грн.</span>
						<span ng-if="project === 'promo'">от <span class="price-number" >4 500</span> грн.</span>
						<span ng-if="project === 'corp'">от <span class="price-number" >6 000</span> грн.</span>
						<span ng-if="project === 'store'">от <span class="price-number" >8 000</span> грн.</span>
			    </div>
			    <h3>Время на работу:</h3>
			    <div>
			    	<span ng-if="project === 'vizitka'">до <span class="price-number" >10</span> дней.</span>
						<span ng-if="project === 'landing'">до <span class="price-number" >14</span> дней</span>
						<span ng-if="project === 'promo'">до <span class="price-number" >20</span> дней</span>
						<span ng-if="project === 'corp'">до <span class="price-number" >25</span> дней</span>
						<span ng-if="project === 'store'">до <span class="price-number" >30</span> дней</span>
			    </div>
					
					<div>
						<h3>Вы получаете:</h3>
						<div ng-if="project === 'vizitka'" class="choose-vizitka">
							<p><i class="fa fa-check" aria-hidden="true"></i> Помощь в регистрации домена</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Кроссбраузерность сайта</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Готовый блог внутри сайта</p>
							<p><a href="#" data-toggle="modal" data-target="#price-create">Что еще?</a></p>
						</div>
						<div ng-if="project === 'landing'" class="choose-landing">
							<p><i class="fa fa-check" aria-hidden="true"></i> Уникальный дизайн</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Форму для приема заказов</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Установка Яндекс.Метрики и Google Analytics</p>
							<p><a href="#" data-toggle="modal" data-target="#price-create">Что еще?</a></p>
						</div>
						<div ng-if="project === 'promo'" class="choose-promo">
							<p><i class="fa fa-check" aria-hidden="true"></i> Слайдер</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Интеграция с социальными сетями</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Адаптивную верстку</p>
							<p><a href="#" data-toggle="modal" data-target="#price-create">Что еще?</a></p>
						</div>
						<div ng-if="project === 'corp'" class="choose-corp">
							<p><i class="fa fa-check" aria-hidden="true"></i> Фотогалерея</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Систему управления контентом (CMS)</p>
							<p ng-hide="project === 'landing'"><i class="fa fa-check" aria-hidden="true"></i> Неограниченное количество страниц</p>
							<p><a href="#" data-toggle="modal" data-target="#price-create">Что еще?</a></p>
						</div>
						<div ng-if="project === 'store'" class="choose-store">
							<p><i class="fa fa-check" aria-hidden="true"></i> Бесплатный хостинг на три месяца</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Email рассылку прямо из админки</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Базовую SEO-оптимизацию</p>
							<p><a href="#" data-toggle="modal" data-target="#price-create">Что еще?</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="price-right col-md-6">
			<img src="assets/price1.jpg" alt="">
		</div>
	</div>

	<div class="row margin0" style="background:#ecf4f7">
		<div class="price-left col-md-6">
			<img src="assets/price2.jpg" alt="">
		</div>
		<div class="price-right col-md-6">
			<div class="price-desc">
				<div class="price-desc_inner">
					<h2>SEO-продвижение</h2>
					<p>Качественное продвижение вашего сайта в поисковых системах гарантируем стабильный и релевантный трафик, который легко конвертируется в заказы. Имеем огромный опыт в успешном продвижении сайтов в ТОП-10.</p>
					<h3>Выберите, что вас интересует:</h3>
					<md-input-container flex="100">
			      <md-select name="type" ng-model="seo">
			        <md-option value="seoaudit">SEO-Аудит</md-option>
			        <md-option value="optimization">Внутренняя оптимизация</md-option>
			        <md-option value="complex">Комплексное продвижение</md-option>
			      </md-select>
			    </md-input-container>
			    <div>
			    	<span ng-if="seo === 'seoaudit'">от <span class="price-number" >900</span> грн.</span>
			    	<span ng-if="seo === 'optimization'">от <span class="price-number" >99</span> грн/за страницу</span>
			    	<span ng-if="seo === 'complex'">от <span class="price-number" >3 000</span> грн/мес</span>
			    </div>
			    <div>
						<h3>Вы получаете:</h3>
						<div ng-if="seo === seoaudit">
							
						</div>
						<div ng-if="seo === 'optimization'">
							
						</div>
						<div ng-if="seo ==='complex'">
							<p><i class="fa fa-check" aria-hidden="true"></i> Анализ конкурентов и рыночной среды</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Семантическое ядро</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Оптимизированные мета-теги: title и description</p>
							<p><i class="fa fa-check" aria-hidden="true"></i> Составленное ТЗ для копирайтера</p>
							<p><a href="#" data-toggle="modal" data-target="#price-seo">Что еще?</a></p>
						</div>
						
						
						<p ng-if="seo === 'optimization'"><i class="fa fa-check" aria-hidden="true"></i> Оптимизацию контента. Правильное размещение тегов H1, H2</p>
						<p ng-if="seo === 'optimization'"><i class="fa fa-check" aria-hidden="true"></i> Семантическое ядро</p>
						<p ng-if="seo === 'optimization'"><i class="fa fa-check" aria-hidden="true"></i> Оптимизированные мета-теги: title и description</p>
						
						
						<p ng-if="seo === 'seoaudit'"><i class="fa fa-check" aria-hidden="true"></i> Проверку технической оптимизации сайта: ЧПУ, дублированные страницы, код ответа сервера, скорость загрузки, склейка зеркал, наличие фильтров.</p>
						<p ng-if="seo === 'seoaudit'"><i class="fa fa-check" aria-hidden="true"></i> Анализ вутренней оптимизации: наличие пустых или мусорных страниц, проверка мета-тегов, "тошноты" страниц, распределение внутреннего веса, качество контента.</p>
						<p ng-if="seo === 'seoaudit'"><i class="fa fa-check" aria-hidden="true"></i> Аудит внешней оптимизации сайта: анализ ссылочной массы, проверка на наличие в каталогах Яндекса и DMOZ, социальные сигналы и как их улучшить.</p>
						<p ng-if="seo === 'seoaudit'"><i class="fa fa-check" aria-hidden="true"></i> Рекомендации по структуре, оценку внешнего вида сайта. </p>
						<p ng-if="seo === 'seoaudit'"><i class="fa fa-check" aria-hidden="true"></i> Ответы на дополнительные ваши вопросы</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row margin0">
		<div class="price-left col-md-6">
			<div class="price-desc">
				<div class="price-desc_inner">
					<h2>Продвижение в социальных сетях - SMM</h2>
					<p>Новый тренд, набирающий популярность с космической скоростью. Бизнес, который стремится к развитию? не должен упускать возможность представить свой товар или услугу в социальных сетях. </p>
					<h3>Выберите, что вас интересует:</h3>
					<md-input-container flex="100">
			      <md-select name="type" ng-model="smm">
			        <md-option value="facebook">Facebook</md-option>
			        <md-option value="instagram">Instagram</md-option>
			        <md-option value="vk">Vk</md-option>
			        <md-option value="smm-complex">Комплексное продвижение</md-option>
			      </md-select>
			    </md-input-container>
			    <div>
			    	<span ng-if="smm === 'facebook'">от <span class="price-number" >4 000</span> грн.</span>
			    	<span ng-if="smm === 'instagram'">от <span class="price-number" >4 000</span> грн.</span>
			    	<span ng-if="smm === 'vk'">от <span class="price-number" >3 500</span> грн.</span>
			    	<span ng-if="smm === 'smm-complex'">от <span class="price-number" >9 000</span> грн.</span>
			    </div>
			    <div>
						<h3>Вы получаете:</h3>
						<p><i class="fa fa-flag-checkered" aria-hidden="true"></i> Проработанный контент-план</p>
						<p><i class="fa fa-user" aria-hidden="true"></i> Оформление страницы/группы</p>
						<p><i class="fa fa-user" aria-hidden="true"></i> Ведение страницы/группы и привлечение новых клиентов.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="price-right col-md-6">
			<img src="assets/price3.jpg" alt="">
		</div>
	</div>

	<div class="modal fade" id="price-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 999999;">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
					<h2>Заказывая <span ng-if="project === 'vizitka'">сайт-визитку</span> <span ng-if="project === 'landing'">Langing page</span> <span ng-if="project === 'promo'">промо-сайт</span> <span ng-if="project === 'corp'">корпоративный сайт</span> <span ng-if="project === 'store'">интернет-магазин</span> вы получаете:</h2>
					<div class="two-col">
						<p ng-hide="project === vizitka"><i class="fa fa-check" aria-hidden="true"></i> Слайдер</p>
						<p><i class="fa fa-check" aria-hidden="true"></i> Фотогалерея</p>
						<p ng-if="project === 'promo' || project === 'corp' || project === 'store'"><i class="fa fa-check" aria-hidden="true"></i> Интеграция с социальными сетями</p>
						<p><i class="fa fa-check" aria-hidden="true"></i> Помощь в регистрации домена</p>
						<p ng-hide="project === 'landing'"><i class="fa fa-check" aria-hidden="true"></i> Систему управления контентом (CMS)</p>
						<p><i class="fa fa-check" aria-hidden="true"></i> Кроссбраузерность сайта</p>
						<p ng-hide="project === 'vizitka'"><i class="fa fa-check" aria-hidden="true"></i> Уникальный дизайн</p>
						<p><i class="fa fa-check" aria-hidden="true"></i> Адаптивную верстку</p>
						<p ng-hide="project === 'landing'"><i class="fa fa-check" aria-hidden="true"></i> Неограниченное количество страниц</p>
						<p ng-if="project === 'store' || project === 'landing'"><i class="fa fa-check" aria-hidden="true"></i> Мультиязычный сайт</p>
						<p><i class="fa fa-check" aria-hidden="true"></i> Установка Яндекс.Метрики и Google Analytics</p>
						<p ng-if="project === 'corp'"><i class="fa fa-check" aria-hidden="true"></i> Создание корпоративной почты</p>
						<p ng-if="project === 'vizitka' || project === 'landing'"><i class="fa fa-check" aria-hidden="true"></i> Гарантируемую техническую поддержку</p>
						<p ng-if="project === 'store'"><i class="fa fa-check" aria-hidden="true"></i> Бесплатный хостинг на три месяца</p>
						<p ng-if="project === 'promo' || project === 'landing' || project === 'store'"><i class="fa fa-check" aria-hidden="true"></i> Форму для приема заказов</p>
						<p ng-if="project === 'store' || project === 'corp' || project === 'vizitka'"><i class="fa fa-check" aria-hidden="true"></i> Готовый блог внутри сайта</p>
						<p ng-if="project === 'store'"><i class="fa fa-check" aria-hidden="true"></i> Email рассылку прямо из админки</p>
						<p ng-if="project === 'corp' || project === 'store'"><i class="fa fa-check" aria-hidden="true"></i> Базовую SEO-оптимизацию</p>
					</div>
	      </div>
	      <div class="modal-footer">
	      	<md-button class="md-raised" data-dismiss="modal">Закрыть</md-button>
	      	<md-button type="submit" data-toggle="modal" data-target="#order " data-dismiss="modal" class="md-raised md-primary">Заказать</md-button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="price-seo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 999999;">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
					<h2>Заказывая <span ng-if="project === 'vizitka'">сайт-визитку</span> <span ng-if="project === 'landing'">Langing page</span> <span ng-if="project === 'promo'">промо-сайт</span> <span ng-if="project === 'corp'">корпоративный сайт</span> <span ng-if="project === 'store'">интернет-магазин</span> вы получаете:</h2>
					<div class="two-col">
						<p ng-if="seo === 'complex'"><i class="fa fa-check" aria-hidden="true"></i> Удаление дублированного контента</p>
						<p ng-if="seo === 'complex'"><i class="fa fa-check" aria-hidden="true"></i> Готовую карту сайта</p>
						<p ng-if="seo === 'complex'"><i class="fa fa-check" aria-hidden="true"></i> Настроенный и оптимизированный robots.txt</p>
						<p ng-if="seo === 'complex'"><i class="fa fa-check" aria-hidden="true"></i> Добавление сайта в Яндекс.Вебмастер и Google.Webmasters</p>
						<p ng-if="seo === 'complex'"><i class="fa fa-check" aria-hidden="true"></i> Установку Яндекс.Метрики и Google Analytics</p>
						<p ng-if="seo === 'complex'"><i class="fa fa-check" aria-hidden="true"></i> Улучшенную структуру сайта</p>
						<p ng-if="seo === 'complex'"><i class="fa fa-check" aria-hidden="true"></i> Индивидуального менеджера</p>
						<p ng-if="seo === 'complex'"><i class="fa fa-check" aria-hidden="true"></i> Еженедельный отчет о проделанной работе</p>
					</div>
	      </div>
	      <div class="modal-footer">
	      	<md-button class="md-raised" data-dismiss="modal">Закрыть</md-button>
	      	<md-button type="submit" data-toggle="modal" data-target="#order " data-dismiss="modal" class="md-raised md-primary">Заказать</md-button>
	      </div>
	    </div>
	  </div>
	</div>
	<orderform></orderform>
</section>