<div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 999999;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form name="ordersend">
      <div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<div>
							<h4></h4>
							<md-input-container class="md-block">
		            <label>Ваше имя</label>
		            <input required ng-model="newOrder.name">
		            <div ng-message="min">
			            Обязательное поле
			          </div>
		          </md-input-container>
						</div>
					</div>
					<div class="col-md-6">
						<div>
							<md-input-container class="md-block">
		            <label>Email или телефон для связи</label>
		            <input required ng-model="newOrder.contact">
		            <div ng-message="min">
			            Обязательное поле
			          </div>
		          </md-input-container>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div>
							<p>Создание сайтов:</p>
							<md-checkbox ng-model="newOrder.vizitka" md-value="newOrder.vizitka" md-checked="newOrder.vizitka" aria-label="Checkbox 1">
		          	Сайт- визитка
		          </md-checkbox>
		          <md-checkbox ng-model="newOrder.promo" aria-label="Checkbox 1">
		          	Промо-сайт
		          </md-checkbox>
		          <md-checkbox ng-model="newOrder.landing" aria-label="Checkbox 1">
		          	Langing Page
		          </md-checkbox>
		          <md-checkbox ng-model="newOrder.corp" aria-label="Checkbox 1">
		          	Корпоративный
		          </md-checkbox>
		          <md-checkbox ng-model="newOrder.store" aria-label="Checkbox 1">
		          	Интернет-магазин
		          </md-checkbox>
						</div>
					</div>
					<div class="col-md-4">
						<div>
							<p>SEO:</p>
							<md-checkbox ng-model="newOrder.audit" aria-label="Checkbox 1">
		          	SEO-Аудит
		          </md-checkbox>
		          <md-checkbox ng-model="newOrder.inner" aria-label="Checkbox 1">
		          	Внутренняя оптимизация
		          </md-checkbox>
		          <md-checkbox ng-model="newOrder.seocomplex" aria-label="Checkbox 1">
		          	Комплексное продвижение
		          </md-checkbox>
						</div>
					</div>
					<div class="col-md-4">
						<div>
							<p>SMM:</p>
							<md-checkbox ng-model="newOrder.facebook" aria-label="Checkbox 1">
		          	Facebook
		          </md-checkbox>
		          <br>
		          <md-checkbox ng-model="newOrder.vk" aria-label="Checkbox 1">
		          	VK
		          </md-checkbox>
		          <br>
		          <md-checkbox ng-model="newOrder.instagram" aria-label="Checkbox 1">
		          	Instagram
		          </md-checkbox>
		          <md-checkbox ng-model="newOrder.smmcomplex" aria-label="Checkbox 1">
		          	Комплексное продвижение
		          </md-checkbox>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div>
							<md-input-container class="md-block">
		            <label>Промо-код</label>
		            <input ng-model="newOrder.promocode">
		          </md-input-container>
							<md-input-container class="md-block">
			          <label>Ваше сообщение</label>
			          <textarea ng-model="newOrder.message" rows="5" md-select-on-focus></textarea>
			        </md-input-container>
						</div>
					</div>
				</div>
      </div>
      <div class="modal-footer">
      	<md-button class="md-raised" data-dismiss="modal">Закрыть</md-button>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button> -->
        <md-button type="submit" ng-click="send_order()" ng-disabled="ordersend.$invalid" data-dismiss="modal" class="md-raised md-primary">Отправить</md-button>
      </div>
    </form>
    </div>
  </div>
</div>
