<title>Создание сайта</title>
<meta name="description" content="" />
<orderform></orderform>
<section id="createpage">
	<div class="container">
		<div class="welcome-text">
			<div class="col-md-12">
				<div class="margin50"></div>
				<h1>Создание сайтов</h1>
				<!-- <p class="welcome-text_desc">Качественный сайт - успешный бизнес!</p> -->
			</div>
		</div>
	</div>
	<div class="container">
		<ul >
			<li ng-repeat="section in sections" ng-class="{createactive : isSelected(section)}" ng-click="setMaster(section)">
        <span >{{section.name}}</span>
      </li>
		</ul>
	</div>
	<div class="margin50"></div>
	<div class="section" ng-repeat="section in sections">
		<div ng-show="isSelected(section)">
			<div class="slogan text-center"><h2>{{section.slogan}}</h2></div>
			
			<ul class="include">
				<li ng-repeat="incl in section.include">
        	<span>{{incl.i}}</span>
      	</li>
			</ul>
			<div class="text-center">
				<h2 class="seotitle">{{section.seotitle}}</h2>
				<p class="seotext">{{section.seotext}}</p>	
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<img ng-src="{{section.img}}" alt="">	
					</div>
					<div class="col-md-4">
						<p class="desctiption">{{section.description}}</p>
						<br><md-button class="welcome-text_button" style="color: rgb(255, 255, 255); background: rgb(76, 175, 80); margin-left: 0px;">Заказать сайт</md-button>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-md-12">
						<p>{{section.description}}</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	
	<!-- Сайт-визитка -->
	<div class="slogan"></div>
</section>