<title>Kakayto</title>
<meta name="description" content="" />

<div class="welcome">
	<div class="welcome-text">
		<h1>Koyoto Studio
		<br>Создание и продвижение сайтов</h1>	
		<br><h4>Лучший выбор для вашего бизнеса!</h4>
		<br><a href="#" data-toggle="modal" data-target="#order "  style="outline:none"><md-button class="welcome-text_button" style="color: rgb(255, 255, 255); background: rgb(76, 175, 80);">Заказать услугу</md-button></a>
	</div>
</div>

<div class="margin50"></div>
<div class="container-fluid count">
  <div class="row" style="margin: auto; text-align: center">
  	<div class="col-md-8 col-md-offset-2">
  		<div class="col-md-3" >
	      <h1><span class="counter">30</span></h1>
	      <h3>Выполненных проектов</h3>
	      <i class="fa fa-users"></i>
	    </div>
	    <div class="col-md-3">
	      <h1><span class="counter">23,075</span></h1>
	      <h3>Написано строк кода</h3>
	      <i class="fa fa-desktop"></i>
	    </div>
	    <div class="col-md-3">
	      <h1><span class="counter">1,018</span></h1>
	      <h3>Выпито чашек кофе</h3>
	      <i class="fa fa-coffee"></i>
	    </div>
	    <div class="col-md-3">
	      <h1><span class="counter">30</span></h1>
	      <h3>Положительных отзывов</h3>
	      <i class="fa fa-coffee"></i>
	    </div>
  	</div>
  </div>
</div>
<div class="margin50"></div>

<section id="vizitka">
	<div class="container">
		<div class="row">
			<div class="margin50"></div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4">
						<span class="vizitka-name"><i class="fa fa-circle" aria-hidden="true" style="color:#ffd300"></i> Сайт-визитка</span>
						<div class="margin50"></div>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4 col-xs-12">
						<p class="vizitka-largetext">Качественный сайт - успешный бизнес!</p>
					</div>
					<div class="col-md-2 col-xs-12"></div>
					<div class="col-md-4 col-xs-12">
						<p class="vizitka-smalltext">Основная задача - привлечь внимание и предоставить необходимую информацию вашему потенциальному клиенту. Обычно такой сайт состоит из нескольких страниц, на которых и содержится вся информация о вашей компании. После ознакомление с сайтом, посетитель превращается в вашего постоянного клиента.
							<br><br><a href="#" >Заказать сайт-визитку <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="margin50"></div>
		<div class="row">
			<div class="col-md-12 text-center">
				<img ng-src="	{{probnik3}}" alt="">
				<p><span class="example-site" ng-click="openexample(); vizitkaopen = true" >Посмотреть пример сайта</span></p>
			</div>
		</div>
		<div class="margin50"></div>
	</div>
</section>



<div class="margin50"></div>

<section id="promo">
	<div class="container">
		<div class="row">
			<div class="margin50"></div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4">
						<span class="promo-name"><i class="fa fa-circle" aria-hidden="true" style="color:lightgreen"></i> Промо-сайт</span>
						<div class="margin50"></div>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4 col-xs-12">
						<p class="promo-largetext">Заявите о себе - начните продавать в интернете!</p>
					</div>
					<div class="col-md-2 col-xs-12"></div>
					<div class="col-md-4 col-xs-12">
						<p class="promo-smalltext">У вас есть классный продукт и вам хочется заявить о нем? Идеальный вариант - сделать промо-сайт. Покажите все положительные стороны вашего продукта или услуги. Опишите преимущества и собирайте урожай из заказов. Промо-сайт великолепно генерирует новых клиентов.
							<br><br><a href="#">Заказать промо-сайт <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="margin50"></div>
	</div>


	<div class="text-center">
		<div>
			<img class="promo1" src="assets/promo1.jpg" alt="" style="width:43%; margin-right:-300px; margin-top:70px; box-shadow:rgb(51, 51, 51) 1px 5px 40px" >
			<img class="promo2" src="assets/promo2.jpg" alt="" style="width: 43%;margin-top:70px; box-shadow:rgb(51, 51, 51) 1px 5px 40px">
			<img src="assets/vizitka.jpg" alt="" style="width:58%; box-shadow:rgb(51, 51, 51) 1px 5px 40px; margin-top:-35%; z-index:99">		
		</div>
		<p><span class="example-site">Посмотреть пример сайта</span></p>
	</div>
</section>

<div class="margin50"></div>

<section id="landing">
	<div class="container">
		<div class="row">
			<div class="margin50"></div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4">
						<span class="landing-name"><i class="fa fa-circle" aria-hidden="true" style="color:lightblue"></i> Landing Page</span>
						<div class="margin50"></div>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4 col-xs-12">
						<p class="landing-largetext">Универсальное и эффективное решение!</p>
					</div>
					<div class="col-md-2 col-xs-12"></div>
					<div class="col-md-4 col-xs-12">
						<p class="landing-smalltext">Качественно сделанный и идеально оптимизированный Landing Page просто оружие по уничтожению ваших конкурентов. Кто будет заказывать у них, когда все деньги покупатель уже оставил у вас? Landing Page поможет увеличить продажи в несколько раз.
							<br><br><a href="#">Заказать Landing Page <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="margin50"></div>
		<div class="row">
			<div class="col-md-12 text-center">
				<img class="mobile-show" src="assets/mobile/iMac.png" alt="">
				<span class="imac pc-show">
					<span class="imac-landing"></span>
				</span>
				<p><span class="example-site">Посмотреть пример сайта</span></p>
			</div>
		</div>
		<div class="margin50"></div>
	</div>
</section>

<div class="margin50"></div>

<section id="corp">
	<div class="container">
		<div class="row">
			<div class="margin50"></div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4">
						<span class="corp-name"><i class="fa fa-circle" aria-hidden="true" style="color:blue"></i> Корпоративный сайт</span>
						<div class="margin50"></div>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4 col-xs-12">
						<p class="corp-largetext">Ваш сайт - лицо компании! Не ударьте им в грязь.</p>
					</div>
					<div class="col-md-2 col-xs-12"></div>
					<div class="col-md-4 col-xs-12">
						<p class="corp-smalltext">Сайт это не только то, что видят пользователи. Это еще и обратная сторона, то с чем вам прийдется работать ежедневно, добавляя на сайт фотографии с новогоднего корпоратива или открывшиеся вакансии. Эта работа не должна вызывать у вас затруднений. Поэтому мы уделяем особое внимание системе управления контентом. Или проще - админке. Она оптимальна и совершенна! Убедитесь в этом сами.
							<br><br><a href="#">Заказать корпоративный сайт <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="margin50"></div>
		<div class="row">
			<div class="col-md-12 text-center">
				<img class="mobile-show" src="assets/mobile/mac.png" alt="">
				<div class="slider pc-show">
					<ks-swiper-container override-parameters="{'effect':'fade'}" initial-slide="3" data-swiper-autoplay="2000" loop="true" show-nav-buttons="true" slides-per-view="1" space-between="5" pagination-clickable="false">
				    <ks-swiper-slide class="swiper-slide" ng-repeat="s in slider">
				        <img ng-src="{{s.image}}">
				    </ks-swiper-slide>
					</ks-swiper-container>
				</div>
				<p><span class="example-site">Посмотреть пример сайта</span></p>
			</div>
		</div>
		<div class="margin50"></div>
	</div>
</section>

<div class="margin50"></div>

<section id="store">
	<div class="container">
		<div class="row">
			<div class="margin50"></div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4">
						<span class="store-name"><i class="fa fa-circle" aria-hidden="true" style="color:salmon"></i> Интернет-магазин</span>
						<div class="margin50"></div>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row flex-center">
					<div class="col-md-4 col-xs-12">
						<p class="store-largetext">Продавать в интернете так легко!</p>
					</div>
					<div class="col-md-2 col-xs-12"></div>
					<div class="col-md-4 col-xs-12">
						<p class="store-smalltext">Стоит ли говорить, какой процент людей совершают покупки в интернете? Вы сами знаете, что здесь есть огромное количество ваших потенциальных клиентов. Осталось лишь купить удочку и выйти на рыбалку. Koyoto Studio знает, как создавать идеальные интернет-магазины, приносящие доход своим владельцам. Убедитесь в этом сами - начните продавать в интернете прямо сейчас.
							<br><br><a href="#">Заказать интернет-магазин <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="margin50"></div>
		<div class="row">
			<div class="col-md-12 text-center">
				<img ng-src="{{zagotovka3}}" alt="">
				<p><span class="example-site">Посмотреть пример сайта</span></p>
			</div>
		</div>
		<div class="margin50"></div>
	</div>
</section>


<section id="mainseo">
	<div class="container">
		<div class="col-md-6 block">
			<div class="seotitle">Продвижение в поисковых системах</div>
			<div class="seodesc">Качественное продвижение вашего сайта в ТОП-5.</div>
			<br><md-button class="welcome-text_button" style="color: rgb(255, 255, 255); background: rgb(76, 175, 80); margin:0px;">Подробнее</md-button></a>
		</div>
	</div>
</section>

<div class="container why-us-seo">
	<h2 class="text-center">Почему именно мы?</h2>
	<div class="row" style="margin:50px auto; text-align:center">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-md-3">
				<img src="http://images.apple.com/v/ios/what-is/a/images/icon_photos_large.png" alt="">
				<p data-toggle="modal" data-target="#seo-model-1">Опыт</p>
			</div>
			<div class="col-md-3">
				<img src="http://images.apple.com/v/ios/what-is/a/images/icon_photos_large.png" alt="">
				<p data-toggle="modal" data-target="#seo-model-2">Знания </p>
			</div>
			<div class="col-md-3">
				<img src="http://images.apple.com/v/ios/what-is/a/images/icon_photos_large.png" alt="">
				<p data-toggle="modal" data-target="#seo-model-3">Открытость </p>
			</div>
			<div class="col-md-3">
				<img src="http://images.apple.com/v/ios/what-is/a/images/icon_photos_large.png" alt="">
				<p data-toggle="modal" data-target="#seo-model-4">Технологии</p>
			</div>
		</div>
	</div>
</div>

<!-- Seo-model-1 -->

<div class="modal fade" id="seo-model-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<section id="mainsmm">
	<div class="smm-welcome">
		<div class="container">
			<div class="col-md-6 block">
				<div class="seotitle">Раскрутка страниц в социальных сетях</div>
				<div class="seodesc">Поиск и привлечение потенциальных клиентов.</div>
				<br><md-button class="welcome-text_button" style="color: rgb(255, 255, 255); background: rgb(76, 175, 80); margin:0px;">Подробнее</md-button></a>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	new WOW().init();
</script>