body {
  background-color: #f0f2f7;
}

h5 {
  font-size: 16px;
}

img {
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

hr {
	width: 120px;
  float: left;
  border: 2px solid #41a5ef;
}

i {
	vertical-align: bottom;
}

nav {
	background-color: #fff !important;
}

nav .brand-logo {
	color: #777 !important;
	height: 100%;
}

.side-nav .userView .background {
	background-color: rgba(0, 137, 236, 0.73) !important;
}

.brand-logo img {
  min-height: auto;
  width: auto;
  height: 100%;
}

.nav-wrapper a {
	text-transform: uppercase;
	color: #777;
}

.card-title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box !important;
	line-height: 16px;     /* fallback */
	max-height: 128px;      /* fallback */
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.card-action span {
	padding-right: 20px;
}

.horizontal .card-image img {
	max-height: 199px !important;
}

.table {
	display: table;
}

.table-left {
	display: table-cell;
	vertical-align: top;
	padding-right: 5px;
}

.table-right {
	display: table-cell;
	vertical-align: top;
	padding-left: 5px;
}

.page-footer {
	background-color: rgba(0, 137, 236, 0.73) !important;
}

footer ul li {
	margin-bottom: 10px;
}

.single-bg {
	position: relative;
	height: 300px;
	background-color: rgba(0, 137, 236, 0.73);
}

.single-bg a {
	color: #fff;
}

.single-bg .container {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 26%;
}

.single-bg h1 {
	font-size: 21px;
}

.single-content .container {
	top: -90px;
	position: relative;
}

.single-content .date {
	display: inline-block;
}

.single-content .card-panel .card-data {
	display: block;
  height: auto;
  padding: 0 0 15px 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}