<!DOCTYPE html>
<html ng-app="MyStore">
<head>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <meta name="fragment" content="!">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:700" rel="stylesheet">

  <meta name="viewport" content="width=device-width">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>	
  <div ng-include="'header/header.html'"></div>
	<div ui-view autoscroll class="main"></div>
  <div ng-include="'footer/footer.html'"></div>
</body>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.7.1/countUp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.7.1/angular-countUp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js"></script>
</html>
