<!DOCTYPE html>
<html ng-app="MyStore">
<head>

  <meta name="fragment" content="!">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:700" rel="stylesheet">

  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="yN_eZDgLOmpKXNylH_uX9chRqBTOWl9BSGSPwEcigc0" />
  <meta name="google-site-verification" content="yN_eZDgLOmpKXNylH_uX9chRqBTOWl9BSGSPwEcigc0" />
  <meta name="yandex-verification" content="303e747ad61b2907" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>	
  <div ng-include="'header/header.html'"></div>
	<div ui-view autoscroll class="main"></div>
  <div ng-include="'footer/footer.html'"></div>
</body>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39584300 = new Ya.Metrika({ id:39584300, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39584300" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->


<script src="https://www.youtube.com/iframe_api"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>

</html>
