<title>SMM</title>
<meta name="description" content="" />
<div class="arrow-down">
	<i class="material-icons">keyboard_arrow_down</i>
</div>
<div id="smm" >
	<section id="smm1" class="example-classname" data-section-name="one">
		<div class="container-fluid">
			<div class="row mycenter" style="display:flex; align-items:center;">
				<div class="col-md-7">
					<p class="title">Заявить о себе в социальных сетях - легко!</p>
					<p>Грамотная работа позволит увеличить количество заказов в несколько раз. Попробуйте!</p>
				</div>
				<div class="col-md-5">
					<img src="https://d13yacurqjgara.cloudfront.net/users/99875/screenshots/1433198/mark-and-john.gif" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="smm2" class="example-classname" data-section-name="two">
	  <div class="container-fluid">
			<div class="row mycenter" style="display:flex; align-items:center;">
				<div class="col-md-7">
					<p class="title">Все сложное и непонятное становится легким и доступным</p>
					<p>Если вам кажется, что разобраться со всеми хитростями социальных сетей способен лишь бородатый умник, то вы ошибаетесь. Мы сможем доступным языком объяснить основные метрики и как отслеживать пути достижения цели. Ничего сложного.</p>
				</div>
				<div class="col-md-5">
					<img src="https://d13yacurqjgara.cloudfront.net/users/285475/screenshots/2083086/dribbble_1.gif" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="smm3" class="example-classname">
	  <div class="container-fluid">
			<div class="row mycenter" style="display:flex; align-items:center;">
				<div class="col-md-7">
					<p class="title">Разработка уникальной контент-стратегии</p>
					<p>Публикуйте для подписчиков качественный и интересный контент - и они будут с вами навсегда. Создаем для вас контент-стратегию основанную на анализе статистики. Контент-стратегия это ваша дорожная карта к успеху.</p>
				</div>
				<div class="col-md-5">
					<img src="https://d13yacurqjgara.cloudfront.net/users/99875/screenshots/1458439/pharrell_drib.gif" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="smm5" class="example-classname">
	  <div class="container-fluid">
			<div class="row mycenter" style="display:flex; align-items:center;">
				<div class="col-md-7">
					<p class="title">Таргетинговая реклама - точное попадание в цель</p>
					<p>Грамотная работа позволит увеличить количество заказов в несколько раз. Попробуйте!</p>
				</div>
				<div class="col-md-5">
					<img src="https://d13yacurqjgara.cloudfront.net/users/99875/screenshots/1421536/cupido.gif" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="smm4" class="example-classname">
	  <div class="container-fluid">
			<div class="row mycenter" style="display:flex; align-items:center;">
				<div class="col-md-7">
					<p class="title">Заявить о себе в социальных сетях - легко!</p>
					<p>Грамотная работа позволит увеличить количество заказов в несколько раз. Попробуйте!</p>
				</div>
				<div class="col-md-5">
					<img src="https://d13yacurqjgara.cloudfront.net/users/43762/screenshots/1559273/itsnottoolate.gif" alt="">
				</div>
			</div>
		</div>
	</section>
</div>


<!-- <section id="smmpage">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 working-with">
				<div class="working-with-us">Вместе к результату</div>
			</div>
		</div>
		<h1 class="text-center">Продвижение в социальных сетях</h1>
		<div class="col-md-9 smm-welcome-desctiption">
			<p class="text-center">Чтобы добиться успеха вы должны либо самостоятельно качественно выполнять работу, либо доверить дело профессионалам. Если у вас не получается, либо просто у вас нет времени на то, чтобы собственными руками раскрутить свою страничку в социальных сетях, то выход один - дать это сделать кому-то, кто уже проделывал такие фокусы. Например, нам.</p>
		</div>
		<div class="margin50"></div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1 toolbar">
				<div ng-repeat="smm in smmsections" ng-click="setMaster(smm)" class="toolbar-row">
					<div class="row">
						<div class="col-md-1 col-xs-1">
							<p><img ng-src="{{smm.number}}" alt=""></p>
						</div>
						<div class="col-md-10 col-xs-10">
							<p>{{smm.name}}</p>
						</div>
						<div class="col-md-1 pc-show">
							<p class="pull-right"><i class="fa fa-caret-down" aria-hidden="true"></i></p>
						</div>
						<div class="col-md-1 col-xs-1"></div>
						<div class="col-md-10 col-xs-10" >
							<div class="toolbar-smm-text" ng-show="isSelected(smm)">
								<p>{{smm.text}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section> -->